extends layout

block headAfter
  link(rel='stylesheet', href='/css/lib/codemirror.css')

  script(type="text/javascript", src="/js/lib/codemirror.js")
  script(type="text/javascript", src="/js/lib/codemirror/javascript.js")

  script(type="text/javascript", src="/js/lib/ace/ace.js")
  script(type="text/javascript", src="/js/lib/ace/mode-json.js")
  script(type="text/javascript", src="/js/lib/ace/worker-json.js")

  script(type="text/javascript", src="/js/app/models/resource.js")
  script(type="text/javascript", src="/js/app/views/resource.js")
  script(type="text/javascript", src="/js/app/app.js")

block content
  div ap1.io - The Rest as a Service platform

block templates
  include templates/resource
