
.navbar-wrap {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.resource-item {
    width: 50%;
}

.resource-url {
    font-size: 24px;
}

.resource-item textarea {
    width: 100%;
}

.resource-item button {
    display: block;
}

.editor, 
.resource-code-wrapper { 
    width: 500px;
    height: 200px;
}

.resource-actions {
    margin-top: 20px;
}

.resource-actions > button {
    display: inline-block;
    margin-left: 20px;
}