
script#resource-item-template(type="text/template")
  .resource-item
    .control-group.control-resource-path
      .controls
        .resource-url 
          span http://ap1.io/custom/ 
          span
            input.resource-path(type="text", placeholder="resource")
    .resource-code-wrapper
    button.btn-generate.btn.btn-primary.btn-large.pull-right(type="button") Generate