
script#resource-item-template(type="text/template")
  .resource-item
    .control-group.control-resource-path
      .controls
        .resource-url 
          span http://ap1.io/custom/ 
          span
            input.resource-path(type="text", placeholder="resource")
    .resource-code-wrapper
    .resource-actions.pull-right
      button.btn-generate.btn(type="button") Generate
      button.btn-save.btn.btn-primary(type="button") Save