
script#resource-item-template(type="text/template")
  .resource-item
    .resource-url 
      span http://api.ap1.io/ 
      span
        input(type="text", placeholder="resource")
    textarea(rows=16)
    button.btn.btn-primary.btn-large.pull-right(type="button") Generate